.galleryItem {
    flex-basis: calc((100% - 7px) / 2);
    height: 101px;
}

.galleryImg {
    border-radius: 10px;
    height: 100%;
}

@media screen and (min-width: 767px) {
    .galleryItem {
        flex-basis: calc((100% - 9px * 2) / 3);
        min-height: 144px;
    }

    .galleryImg {
    }
}