.mobileBtn {
    border: none;
    display: flex;
    width: 26px;
    height: 26px;
    justify-content: center;
    align-items: center;
}

@media screen and (min-width: 767px) {
    .mobileBtn {
        margin-left: 29px;
    }
}

@media screen and (min-width: 1280px) {
    .mobileBtn {
        display: none;
    }
}