.actor {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
}

.actorImg {
    height: 91px;
    width: 91px;
    border-radius: 50%;
    margin-bottom: 5px;
    transition: transform 250ms ease-in-out
}

.avatarLost {
    width: 91px;
    height: 91px;
    margin-bottom: 5px;
}

.actorName {
    font-size: 13px;
    color: #fff;
    text-align: center;
}

.actorRole {
    font-size: 10px;
    color: rgba(178, 178, 178, 0.4);
}

.actor:hover .actorImg {
    transform: scale(1.1);
}

@media screen and (min-width: 1280px) {
    .actorName {
        font-size: 15px;
    }
    
    .actorRole {
        font-size: 12px;
    }
}