*, *::after, *::before {
    box-sizing: border-box;
}

body {
    background: #0a0a0a;
}

a {
    text-decoration: none;
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.container {
    max-width: 345px;
    margin: 0 auto;
    padding: 0 15px;
}

p, h1, h2, h3, h3 {
    padding: 0;
    margin: 0;
}

button {
    border: none;
    cursor: pointer;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 767px) {
    .container {
        max-width: 748px;
    }
}

@media screen and (min-width: 1280px) { 
    .container {
            max-width: 1210px;

        }
}