.headerWrapper {
    display: flex;    
    padding: 10px 0;   
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.deskNav {
    display: none;
}

@media screen and (min-width: 1280px) { 
    .deskNav {
        display: block;
        margin-right: auto;
        margin-left: 70px;
    }
}
