.navBar {
    font-size: 14px;
    color: #b2b2b2;
    gap: 23px;
    display: flex;
    flex-direction: column;
}

.link {
    transition: color 250ms ease-in-out, font-size 250ms ease-in-out;
}

.link:hover {
    color: #ebebeb;
    font-size: 15px;
}

@media screen and (min-width: 1280px) {
    .navBar {
        display: flex;
        align-items: center;
        flex-direction: row;
    }
 }